<mat-card class="post">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{post.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{post.content}}
        </p>
    </mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>

        </mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="mx-16" fxLayout="row" fxLayoutAlign="space-between center">
                <span>
{{post.likes}}
            </span>
                <mat-icon>thumb_up</mat-icon>
            </div>
            <div class="mx-16" fxLayout="row" fxLayoutAlign="space-between center">
                <span>
                {{post.shares}}
            </span>
                <mat-icon>share</mat-icon>
            </div>
            <button mat-icon-button (click)="deletePost(post.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

</mat-card>